
main {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
 
 
}

.ojo-gato {
  width: 25%;
    border-radius: 50% 0 50% 0;
    animation: rotar 6s linear infinite alternate both;
}

@keyframes rotar {
    0% {

        transform: rotate(5deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(30deg);
    }

    40% {
        transform: rotate(40deg);
    }

    50% {
        transform: rotate(50deg);
    }

    60% {
        transform: rotate(60deg);
    }

    70% {
        transform: rotate(70deg);
    }

    80% {
        transform: rotate(80deg);
    }

    90% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(100deg);
    }



}

.no{
    text-shadow: 15px 15px 15px yellow;

}

.pronto {
    padding: 0;
    margin: 0;
    font-size: 5rem;
}